#mainHeading{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(219, 95, 95);
}

body{
    background-color: rgb(241, 252, 225);
}


.asap{
    color: red;
}

footer{
    background-color: rgb(219, 95, 95);
    color: aliceblue;
    text-align: center;
}